/*Google images script */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: jost, sans-serif;
    color: #477282;
    background-color: azure;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* header */

header {
    background-color: #477282;
}

#heading  {
    text-align: center;
    font-size: 400%;
    letter-spacing: 2px;
    font-weight: 400;
    color: azure;
    font-family: roboto, sans-serif;
    padding: 60px;
}

.header {
    width: 100%;
    height: 100px;
}

.unordered {
    text-align: center;
}

.unordered .list {
    list-style: none;
    display: inline-block;
}

.unordered .list .menu {
    display: block;
    font-size: 28px;
    font-family: roboto, sans-serif;
    padding: 0 20px;
    color: azure;
}

/* Making the header compatible for all devices */

@media screen and (max-width: 760px){
    #heading {
        font-size: 45px;
    }

    .unordered .list .menu {
        font-size: 20px;
    }
}

/* footer */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 .yoga-studio {
     background-color: #477282;
     font-size: 22px;
     float: left;
     padding: 40px 20px 10px 20px;
     color: azure;
 }

 .social-networks {
     background-color: #477282;
     padding: 2px 20px 20px 2px;
     width: 100%;
     float: right;
 }

 /* Making the footer compatible for all devices */

@media screen and (max-width:760px){
    .yoga-studio {
        font-size: 18px;
    }
}

/* home page */

/* First image appearing on the home page */

.image-one {
    width: 30%;
    height: 400px;
    border-radius: 20%;
    padding: 50px 30px 20px 50px;
    float: left;
}

/* Making image-one compatible for all devices*/

@media screen and (max-width:760px){
    .image-one {
        width: 90%;
        padding: 20px;
    }
}

/* Quote beside image on home page */

.quote {
    padding: 100px;
    font-size: 30px;
    font-weight: 400;
}

/* Making the quote compatible for all devices */

@media screen and (max-width:760px){
    .quote {
        font-size: 20px;
        padding: 2px 20px;
    }
}

/* About us description under the first image on the home page */

.about-us {
    text-align: left;
    padding: 90px 20px 20px 20px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.summary {
    float: left;
    padding: 7px 20px 20px;
    font-size: 21px;
}

/* Making the about us section compatible for all devices */

@media screen and (max-width:760px){
    .about-us {
        font-size: 22px;
        padding-top: 40px;
    }

    .summary {
        float: left;
        padding: 7px 20px 20px;
        font-size: 20px;
    }
}

/* Opening Hours */

.openinghours {
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    margin: 50px;
    box-shadow: 0 0 10px black;
    padding: 15px 80px 20px 40px;
    overflow: hidden;
    display: inline-block;
}

.table tr td {
    font-weight:bold;
    font-size: 18px;
    padding: 10px;
}

.table {
    padding: 25px;
}

/* Making the opening hours box compatible for all devices */

@media screen and (max-width:760px){
    .table tr td {
        font-size: 18px;
        padding: 2px;
    }

    .openinghours {
        margin: 5px;
        display: block;
        padding: 50px;
        border-radius: 400px;
        }
}

/* Image two on the home page beside the opening hours */

.image-two {
    float: right;
    border-radius: 50%;
    height: 450px;
    margin-right: 100px;
    margin-top: 40px;
}
/* Making the image two compatible for all devices */

@media screen and (max-width:760px){
    .image-two {
        float: none;
        border-radius: 50%;
        height: 300px;
        width: 300px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-left: 17%;
    }
}

/* Benefits of Yoga */

.benefits-of-yoga {
    text-align: center;
    text-decoration: underline;
    padding: 30px;
}

.yoga-benefits {
    width: 700px;
    border: 7px solid #477282;
    padding: 50px;
    margin: auto;
    display: block;
    font-size: 22px;
}

.advantages {
    display: list-item;
    list-style-position: inside;
  }

/* Making the benefits compatible for all devices */

  @media screen and (max-width:760px){
    .yoga-benefits {
        font-size: 20px;
        padding: 25px;
        width: 80%;
    }
}

/* Adding the images side by side */

.yoga-type {
    height: 400px;
    width: 400px;
}

.holdingcontainer {
    width: 100%;
    display: flex;
    background: azure;
    box-sizing: border-box;
    flex-direction: row;
}

.internalcontainerl {
    flex: 1;
    background: #477282;
    color: azure;
    padding: 30px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin: 2px;
}

.internalcontainerm {
    flex: 1;
    background: #477282;
    color: azure;
    padding: 30px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin: 2px;
}

.internalcontainerr {
    flex: 1;
    background: #477282;
    color: azure;
    padding: 30px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin: 2px;
}

/* Making the images compatible for all devices */

@media screen and (max-width:760px){

    .yoga-type {
        height: 350px;
        width: 350px;
    }

    .holdingcontainer {
        flex-direction: column;
    }

    .internalcontainerl {
        font-size: 20px;
    }

    .internalcontainerm {
        font-size: 20px;
    }

    .internalcontainerr {
        font-size: 20px;
    }
}

  /* Video */

  .video {
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 400px;
    position: relative;
    height: 0;
    margin-left: 31%;
    margin-bottom: 30px;
  }

  .video iframe {
    left: 0;
    right: 0;
    position: absolute;
  }

  @media screen and (max-width:760px){
    .video {
        padding-top: 50px;
        margin-left: 20px;
    }
    .video iframe {
        height: 330px;
        width: 380px;
    }
 }